{{#data}}
  <div class="body">
    {{>page-header header=header}}
    {{#content}}
      <div class="contents">
        <div class="primary">
          <section class="desc" data-collapsed="true">
            <h2>Description</h2>
            {{#description}}
              <p>{{this}}</p>
            {{/description}}
            <span class="show">show</span>
          </section>
          <section class="songs">
            <h2>Tracklist</h2>
            <iframe src="{{embed}}" height="500px" width="100%" frameborder="0"></iframe>
          </section>
        </div>
        <div class="secondary">
          <section class="listen-links">
            <h2>Listen to this episode</h2>
            <div class="container">
              {{#each listenLinks}}
                <a href="{{href}}" target="">
                  <img src="{{icon}}">
                  {{name}}
                </a>
              {{/each}}
            </div>
          </section>
          <section class="share-links">
            <h2>Share this episode</h2>
            <div class="container">
              {{#each shareLinks}}
                <a>
                  <img src="{{icon}}">
                  <span class="tool-tip">
                    {{name}}
                  </span>
                </a>
              {{/each}}
            </div>
          </section>
        </div>
      </div>
    {{/content}}
  </div>
{{/data}}