{{#data}}
  <div class="body">
    {{>page-header header=header}}
    {{#content}}
      <div class="contents">
        <div class="primary">
          <section class="quote">
            <div class="symbol">
              <div class="container">
                <svg viewBox="0 0 32 32">
                  <path
                      d="M19.495 1.659c-11.469 2.654-19.572 13.099-17.11 22.046 0.818 2.982 3.406 5.766 6.127 6.595 7.366 2.245 13.685-4.914 10.308-11.683-1.279-2.562-2.957-3.823-5.722-4.299l-0.723-0.125 0.048-0.406c0.509-4.299 2.503-7.119 7.17-10.135l0.903-0.583v-0.796c0-0.933 0.096-0.874-1.003-0.616z"></path>
                </svg>
                <svg viewBox="0 0 32 32">
                  <path
                      d="M19.495 1.659c-11.469 2.654-19.572 13.099-17.11 22.046 0.818 2.982 3.406 5.766 6.127 6.595 7.366 2.245 13.685-4.914 10.308-11.683-1.279-2.562-2.957-3.823-5.722-4.299l-0.723-0.125 0.048-0.406c0.509-4.299 2.503-7.119 7.17-10.135l0.903-0.583v-0.796c0-0.933 0.096-0.874-1.003-0.616z"></path>
                </svg>
              </div>
            </div>
            <div class="raw">I'm sick of the fronting and the bullshit in 2017.</div>
          </section>
          <section class="desc" data-collapsed="true">
            <h2>Description</h2>
            {{#description}}
              <p>{{this}}</p>
            {{/description}}
            <span class="show">show</span>
          </section>
          <section class="embed">
            <iframe frameborder="0" height="200px" scrolling="no" seamless src="{{embed}}" width="100%"></iframe>
          </section>
          <section class="listen-links">
            <h2>Listen to this episode</h2>
            <div class="container">
              {{#each listenLinks}}
                <a href="{{href}}" target="">
                  <img src="{{icon}}">
                  {{name}}
                </a>
              {{/each}}
            </div>
          </section>
          <section class="share-links">
            <h2>Share this episode</h2>
            <div class="container">
              {{#each shareLinks}}
                <a>
                  <img src="{{icon}}">
                  <span class="tool-tip">
                    {{name}}
                  </span>
                </a>
              {{/each}}
            </div>
          </section>
        </div>
      </div>
    {{/content}}
  </div>
{{/data}}