{{#data}}
  <div class="body">
    {{>page-header header=header}}
    {{#content}}
      <div class="contents">
        <div class="primary">
          <section class="desc" data-collapsed="true">
            <h2>Overview</h2>
            {{#description}}
              <p>{{this}}</p>
            {{/description}}
            <span class="show">show</span>
          </section>

          <!--<section class="rating">-->
          <!--<h2>Overall Rating</h2>-->
          <!--<h3>{{rating}}<small><small>/5</small></small></h3>-->
          <!--</section>-->

          {{#each subSkills}}
            <section class="hard-skills">
              <h2>{{this.name}}</h2>
              <h6>{{this.rating}}/10</h6>
              {{#each desc}}
                <p>{{this}}</p>
              {{/each}}
            </section>
          {{/each}}
          <section class="projects">
            <h2>Projects</h2>
            {{#each projects}}
              {{this.name}}
            {{/each}}
            {{#each projects}}
              <a href="{{this.href}}">
                <h4>{{this.name}}</h4>
                {{#each desc}}
                  <p>{{this}}</p>
                {{/each}}
              </a>
            {{/each}}
          </section>
        </div>
      </div>
    {{/content}}
  </div>
{{/data}}